<nav>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">

        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

        <p>
          {% assign pages = site.pages | where: 'nav', true | sort: 'title' %}
          {% for nav in pages %}
            <a href="{{ nav.dir | prepend: site.baseurl }}">{{ nav.title }}</a>{% unless forloop.last %} - {% endunless %}
          {% endfor %}
        </p>

      </div>
    </div>

  </div>
</nav>
