---
layout: default
---

<section class="post">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <a href="{{ page.image }}"><img src="{{ page.image }}" class="img-responsive"></a>
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        <p><time>{{ page.date | date: site.date_formats.dmy }}</time></p>

        <hr>

        {{ content }}

        {% if site.comments.disqus %}
          <hr>

          {% include comments.html %}
        {% endif %}

      </div>
    </div>

  </div>
</section>
